.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box; /* paading 줘도 width 늘어나지 않게 고정시킴 */
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  bottom: 15px;

  width: 27px;
  height: 27px;
  border-radius: 15px;
  background-color: tomato;
}

.nav__notification2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 27px;

  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: tomato;
}
